*{
    font-family: 'Open-Sans', sans-serif;
    font-size:100%;
    /*font-family: 'Shadows Into Light Two', cursive;*/
}
h1{
    text-align: center;
}
button{
    cursor: pointer;
}
img{
    max-width:100%;
    height:auto;
}

.container{
    width: 85%;
    height: fit-content;
    margin-left: 7%;
    margin-right: 8%;

}

.inputContainer{
    border: 1px solid lightgray;
    border-radius: 10px;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 2.5% 87.5% 10%;
    background-color: #f1f5f8;
   
}

.inputContainer input{
    margin: 0 0 0 0;
    border: none;
    background-color: transparent;
    margin-right: 2px;
    font-size: large;
    margin-left: 2px;
}

.inputContainer button{
    padding: 10px;
    width: 100%;
    float: right;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: #a5d5f8;
    border: none;
    font-size: large;
    margin-left: auto;
    margin-right: 0;

}

.inputContainer img{
    width: 30px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}


.inputContainer input:focus{
    outline: none;
}
.contentContainer{
    
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
}



.contentContainer img{
    width:20px;
    height:20px;
}

.headContainer .filterContainer img{
    margin-top: 10px;
}
/*
.headContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}
*/
   
.filterContainer #btnClear {
    float: right;    
    background-image: linear-gradient(to left, #d98080 , #eda2a2);
    border-radius: 10px;
    color: white;
    padding-top: 0;
    margin-right: 0;

}

 

.headContainer button{
    border: none;
    background-color: transparent;
    margin: 2px;
    font-size: large;
    transition: 0.3s;

}
 
.headContainer button:active{
   color: red;
   
}

.filterContainer button{
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding: 8px;
    margin-right: 10px;
}


.filterContainer .filterBtn{
    width: 105px;
}
hr{
    border: .01px dashed black;
    border-style: dashed;
    margin:  0 0 0 0;
    padding: 0 0 0 0;
    height: .01px;  
    width: 50%;
}


.listContainer{
padding-left: 0;
}
.listContainer ul {
    list-style: none;
    line-height: 50px;
    width: 100%;
    padding-left: 0;
}


.listContainer ul li{
    display: grid;
    grid-template-columns: auto 83% 8% 8%;
}
.listContainer input{
    margin-top: auto;
    margin-bottom: auto;
}

.listContainer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 15px;
    height: 15px;

}

.listContainer button{
   background-color: transparent;
   border: none;
}
label{
    width: fit-content;
}

.filterContainer button.active {
    background-color: #f1f5f8;
    color: red;
}


.filterContainer button:hover {
    border-radius: 10px;
    background-color: #f1f5f8;
}


  
@media screen and (max-width: 600px) {
    .headContainer button {
      float: none;
      width: 100%;
    }
    hr{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #iconFilter{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .headContainer {
        float: none;
        width: 100%;
    }
    .filterContainer button{
        margin-top: 5px;
        border-radius: 10px;
    }
    .inputContainer{
        grid-template-columns: 9% 70% auto;
    }
    
    .filterContainer .filterBtn{
        width: 100%;
    }
    .listContainer ul li{
        grid-template-columns: auto 83% 8.5% 8.5%;
    }
     
}
